.hex-table {
  .hex-table-item {
    text-align: center;
    background-color: #f0f6f7;
    justify-content: center;
    vertical-align: center;
  }

  .hex-table-item-value {
    text-align: center;
    background-color: #f0f6f7;
    justify-content: center;
    vertical-align: center;
    cursor: pointer;
  }
  .hex-table-item-value:hover {
    background-color: #b3b9ba;
  }

  .active-element {
    background-color: #b3b9ba;
  }
}

#table-container {
  justify-content: center;
  .table-viewer {
    margin-top: 1vh;
  }
}
