.hex-table {
  .hex-table-item {
    text-align: center;
    background-color: #f3ede3;
    justify-content: center;
    vertical-align: center;
  }
}

#table-container {
  justify-content: center;
  .table-viewer {
    margin-top: 1vh;
  }
}
